:root {
    --primary-color: #1E2A38; /* color base / dominante */
    --secondary-color: #4FD1C5; /* color acento / contraste */
}
* {
    box-sizing: border-box; 
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1E2A38;
}

section {
    margin: 60px 0;
    padding: 20px;
}

header{
    background-color: yellow;
}

h1, h2, h3, h4 {
    padding: 5px;
    color: #2C3E50;
}

nav{
    padding: 25px;
}
nav ul {
    display: flex; 
    justify-content: space-around; 
    list-style: none;
}
 /* Animacion del Hover */
nav ul li a {
    position: relative;
    color: #2C3E50;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4FD1C5;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #2C3E50;
}

nav ul li a:hover::after {
    width: 100%;
}
 /* Termina Animacion del Hover */

a{
    color: #2C3E50;
    text-decoration: none;
}

li {
    list-style: none;
}


h3 {
    text-align: center;
}
